<manifest package = "com.croshe.android.base"
          xmlns:android = "http://schemas.android.com/apk/res/android"
          xmlns:app = "http://schemas.android.com/apk/res-auto"
          xmlns:tools = "http://schemas.android.com/tools" >

    <uses-sdk tools:overrideLibrary = "tv.danmaku.ijk.media.player_arm64,tv.danmaku.ijk.media.player_x86_64" />
    <uses-permission android:name = "android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name = "android.permission.READ_PHONE_STATE" />
    <uses-permission android:name = "android.permission.VIBRATE" />
    <uses-permission android:name = "android.permission.INTERNET" />
    <uses-permission android:name = "android.permission.RECORD_AUDIO" />
    <uses-permission android:name = "android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name = "android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name = "android.permission.CAMERA" />
    <uses-permission android:name = "android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name = "android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name = "android.permission.READ_CONTACTS" />
    <uses-permission android:name = "android.permission.WRITE_CONTACTS" />
    <uses-permission android:name = "com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name = "android.permission.WAKE_LOCK" />
    <uses-permission android:name = "android.permission.ACCESS_FINE_LOCATION" />


    <application android:allowBackup = "true"
                 android:supportsRtl = "true" >

        <provider
            android:name = "android.support.v4.content.FileProvider"
            android:authorities = "${applicationId}.fileProvider"
            android:exported = "false"
            android:grantUriPermissions = "true" >
            <meta-data
                android:name = "android.support.FILE_PROVIDER_PATHS"
                android:resource = "@xml/file_paths" />
        </provider >


        <activity android:name = ".activity.image.CrosheAlbumActivity"
                  android:configChanges = "orientation|keyboardHidden|screenSize"
                  android:screenOrientation = "nosensor" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheAlbumActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >

        <activity android:name = ".activity.CrosheVoiceAlbumActivity"
                  android:screenOrientation = "nosensor" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheVoiceAlbumActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >


        <activity android:name = ".activity.image.CrosheCropImageActivity"
                  android:screenOrientation = "nosensor" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheCropImageActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >

        <activity android:name = ".activity.image.CrosheShowImageActivity"
                  android:screenOrientation = "nosensor" >

            <intent-filter >
                <action android:name = "${applicationId}.CrosheShowImageActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >


        <activity android:name = ".activity.CrosheBrowserActivity"
                  android:screenOrientation = "nosensor" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheBrowserActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >


        <activity android:name = ".activity.CrosheLocalConactActivity"
                  android:screenOrientation = "nosensor"
                  android:windowSoftInputMode = "adjustNothing" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheLocalConactActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >


        <activity android:name = ".activity.CrosheDownListActivity"
                  android:screenOrientation = "nosensor"
                  android:windowSoftInputMode = "adjustNothing" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheDownListActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >

        <activity android:name = ".activity.CrosheScannerActivity"
                  android:screenOrientation = "nosensor"
                  android:windowSoftInputMode = "adjustNothing" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheScannerActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >

        <activity android:name = ".activity.CrosheShowQRCodeActivity"
                  android:screenOrientation = "nosensor"
                  android:windowSoftInputMode = "adjustNothing" >
            <intent-filter >
                <action android:name = "${applicationId}.CrosheShowQRCodeActivity" />
                <category android:name = "android.intent.category.DEFAULT" />
            </intent-filter >
        </activity >

    </application >

</manifest >
